@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
*{
  margin-top: 0;
  
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
